body {
  font-family: Monospace;
  background-color: #000;
  color: #fff;
  margin: 0px;
  overflow: hidden;
}
#info {
  color: #fff;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display:block;
}
#info a {
  color: #046;
  font-weight: bold;
}

#contenedorGeneral{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#contenedorIzq{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 1px solid black;
}

#contenedorJuego{
  position: absolute;
  left: 0%;
  top: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 1px solid black;
}
#contenedorDer{
  position: absolute;
  left: 00%;
  top: 0px;
  width: 00%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 1px solid black;
}
